<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="column is-4 project">
  <div class="card">
    <header class="card-header color-fill">
      <p class="card-header-title">
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          <span for="img" aria-label="calendar">📅</span>
          <!-- Pass needed_funding value to the helper function -->
          <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
          hours needed!
        </p>
        <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
        <p>
          {{project.description}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}