<div class="text-center">
  <h2>{{project.name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{project.description}}</p>
  <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
    needed
  </p>
  <p>Sponsor: {{ sponsors.[0].name }}</p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
